{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'pictures/logo.png' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="apple-touch-icon" href="{% static 'pictures/logo.png' %}">
    <link href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>SMART Launcher - Select Patient</title>
    <script type="text/javascript" async=""
            src="https://www.googletagmanager.com/gtag/js?id=G-8MQK86TQS3&amp;cx=c&amp;gtm=457e58d1za200&amp;tag_exp=101509157~102015666~103116026~103200004~103233427~104684208~104684211~105033763~105033765~105103161~105103163~105231383~105231385"></script>
</head>
<body>
<div class="modal" id="modal-root"></div>
<div id="root">
    <div class="container-fluid patient-picker" style="max-width: 80em;">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mt-1">
                    <img src="{% static 'pictures/logo.png' %}" alt="SMART Logo" height="28"
                         style="margin: -6px 10px 0px 0px;">
                    Select Patient
                </h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="input-group">
                        <input type="search" class="form-control" id="search-input"
                               placeholder="Search by name..." value="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i> Search
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                    <tr class="no-hover">
                        <th tabindex="0" class="col-md-4 col-sm-6" title="Click to sort by family name">
                            <span class="col-title">Name&nbsp;</span>
                            <span class="text-muted glyphicon glyphicon-sort-by-attributes"></span>
                        </th>
                        <th tabindex="0" class="col-md-2 col-sm-3 text-center" title="Click to sort by gender">
                            <span class="col-title">Gender&nbsp;</span>
                        </th>
                        <th tabindex="0" class="col-md-2 col-sm-3 text-left" title="Click to sort by age">
                            <span class="col-title">Age&nbsp;</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in patients %}
                        <tr tabindex="0" title="Click to select patient with ID {{ p.id }}">
                            <td>
                                <input type="radio" disabled style="margin-right: 1ex;">
                                <span>{{ p.name|default:"(No name)" }}</span>
                            </td>
                            <td class="text-center">
                                {% if p.gender == "male" %}
                                    <span class="male">M</span>
                                {% elif p.gender == "female" %}
                                    <span class="female">F</span>
                                {% else %}
                                    <span>-</span>
                                {% endif %}
                            </td>
                            <td class="text-left">
                                {% if p.age %}
                                    {{ p.age }} years
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">No patients found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" style="padding: 1em 0px;">
                            <div class="pagination">
                                {% if prev_url %}
                                    <a class="btn btn-default btn-sm" href="?fhir_url={{ prev_url|urlencode }}">
                                        <span class="glyphicon glyphicon-menu-left"></span> Previous
                                    </a>
                                {% else %}
                                    <button class="btn btn-default btn-sm" disabled>
                                        <span class="glyphicon glyphicon-menu-left"></span> Previous
                                    </button>
                                {% endif %}

                                {% if next_url %}
                                    <a class="btn btn-primary btn-sm" href="?fhir_url={{ next_url|urlencode }}">
                                        Next <span class="glyphicon glyphicon-menu-right"></span>
                                    </a>
                                {% else %}
                                    <button class="btn btn-primary btn-sm" disabled>
                                        Next <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-109693963-1"></script>
</body>
<div id="immersive-translate-browser-popup" style="all: initial"></div>
</html>